.wrap-theme {
    position: relative;
}
.btn-create-new {
    display: none;
    position: absolute;
    right: 0px;
    top: 0px;
    margin-right: 0px;
}

.template-install .btn-create-new{
    display: block;
}
.template-install .action{
    display: none;
}
.background-image {
    background-size: cover;
    background-position: center center;
}

/*style for template list*/
.list-templates .thumbnail .action a {
    padding: 4px 15px;
    background-color:#26b99a;
    border-radius: 3px;
    transition: all 0.3s ease;
    color: #fff;
 }
.list-templates .thumbnail .action a:hover{
    background-color: #ffffff;
}
.box-filter {
    display: inline-block;
    margin-left: 20px;
}
.list-templates .thumbnail {
    height: 250px;
}
.thumbnail .image {
    height : 190px;
}
.theme-item ul {
    list-style: none;
    padding-left: 0px;
}

.theme-item ul li {
    display: inline-block;
}

.action-site a {
    padding: 4px 15px;
    background-color: #26b99a;
    border-radius: 3px;
    transition: all 0.3s ease;
    display: inline-block;
}

.action-site a i {
    color: #fff;
}
