$color-black: #222222;
$text-position-cl: #909090; //Color doctor position
$btn-make-bg: #f48100; // Background button make appointment
$font-black: "Raleway-Black";
$font-italic: "Raleway-Italic";

$bg-contact-cl: #888888;
$section-title-cl: #222222; //
$background-menu-cl: #999999; //
$menu-text-cl: #222222; //
$menu-hover-cl: #000000; //
$bg-news-color: #f6f6f6;
$bg-contact-top-color: #b3cdde; // Background contact top

$color-text-contact-top: #ffffff; // Color text contact header
$font-bold: "Raleway-Bold"; // Font family contact top
$font-medium: "Raleway-Medium"; //Font family menu
$menu-hover-cl: #c2c7d1; //Color text menu hover, focus, active

$bg-bottom-cl: #b3cdde;
$font-size-text-bt: 12px;

$title-slide-cl: #ffffff; //Color title slide
$title-slide-fs: 50px;

$ct-title-color: #222222;
$ct-title-font: "Raleway-Black";
$ct-title-fs: 30px;

$page-title-color: #ffffff; //Color title page
$page-title-fs: 50px; //Font size title page
$page-title-font: "Raleway-Bold"; //Font family title page
